p {
    font-size: 14px;
    line-height: 14px;
    margin-top: 1rem;
    text-align: center;
    color: #3897f0;
    cursor: pointer;
}

h2 {
    margin-bottom: 20px;
}

.option-to-create {
    margin: 1rem 0 0 0;
}

.option-to-create div {
    background-color: #c7c7c7;
    height: 1px;
    position: relative;
    top: .45em;
    margin-top: 4px;
}

.option-to-create h2 {
    margin: 0;
}

.option-to-create h2 {
    margin: 0;
}