p {
    font-size: 12px;
    line-height: 14px;
    margin-top: 1rem;
    text-align: center;
    color: #3897f0;
}

h1 {
    font-family: "Times New Roman";
}

h2 {
    font-size: 17px;
    line-height: 20px;
    margin: 0 40px 10px;
    text-align: center;
    color: #999;
    font-weight: 600;
}

.option-to-create {
    margin: 1rem 0 0 0;
}

.option-to-create div {
    background-color: #c7c7c7;
    height: 1px;
    position: relative;
    top: .45em;
    margin-top: 4px;
}

.option-to-create h2 {
    margin: 0;
}

.option-to-create h2 {
    margin: 0;
}

.container-panel {
    background-color: white;
    padding: 16px;
    border: 1px solid #e6e6e6;
    margin: 16px;
}