<div class="col-md-4 container">
  <div class="row justify-content-center container-panel">
    <h1>Mejor Webapp</h1>
    <h2>Improve your social profile with the best consultancy</h2>
    <div>
      <button type="button" class="btn btn-primary btn-block" (click)="onLoginWithInstagram()">Log in with Instagram</button>
      <div class="row justify-content-md-center option-to-create">
        <div class="col col-4">
          <span></span>
        </div>
        <h2 class="col col-4">or</h2>
        <div class="col col-4">
          <span></span>
        </div>
      </div>
      <div class="row justify-content-center">
        <p>Sign up with Instagram</p>
      </div>
    </div>
  </div>
</div>