p {
    margin: 0;
    text-align: center;
}

.jumbotron {
    padding: 2rem 2rem;
}

.container-panel {
    padding: 0;
    margin: 15px -15px 15px -15px;
}

.container-panel div {
    padding: 16px;
    cursor: pointer;
}

.container-panel div:hover:not(.disable) {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.container-panel div.disable {
    background-color: #e6e6e6;
    pointer-events: none;
}

.pane-schedule {
    margin: 1rem 0;
    background-color: white;
    border: 1px solid #e6e6e6;
    padding: 1rem;
}

