<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="favicon.ico" width="30" height="30" class="d-inline-block align-top" alt=""> Mejor Webapp
  </a>
</nav>

<div class="jumbotron">
  <div class="container">
    <h1>Consulting Scheduling</h1>
    <p>Pick a time</p>
  </div>
</div>

<div class="col-md-7 container" *ngIf="!dateSelected">
  <div class="row justify-content-center">
    <p>December 2017</p>
  </div>
  <div class="row container-panel">
    <div *ngFor="let d of dates" class="col-2 justify-content-center" [ngClass]="{'disable': !d.enable}" (click)="selectDate(d)">
      <p>{{d.date | date:'EEE dd'}}</p>
      <p>{{d.date | date:'hh:mm a'}}</p>
    </div>
  </div>
</div>

<div class="col-md-6 container" *ngIf="dateSelected">
  <div class="row align-items-start justify-content-between pane-schedule">
    <p>{{dateSelected.date | date: 'medium'}}</p>
    <button type="button" class="btn btn-primary" (click)="editDateSchedule()">Edit</button>
  </div>
  <button type="button" class="btn btn-primary btn-block" (click)="save()">Schedule</button>
</div>