<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="favicon.ico" width="30" height="30" class="d-inline-block align-top" alt=""> Mejor Webapp
  </a>
</nav>

<div class="jumbotron">
  <div class="container">
    <h1>Consulting Scheduling</h1>
    <p>Pick a time</p>
  </div>
</div>

<div class="col-md-6 container">

  <div class="row justify-content-center">
    <p>December 2017</p>
  </div>
  <div class="row container-panel">
    <div class="col-sm justify-content-center">
    </div>
  </div>
</div>

<div class="col-md-6 container">
  <div class="row pane-time">
    <div class="col-6">
    </div>
  </div>
</div>