<div class="col-md-4 container">
  <div class="row justify-content-center container-panel" *ngIf="user">
    <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
      <h1>Mejor Webapp</h1>
      <h2>Complete your registration to continue</h2>     

      <div class="form-group">
        <input type="text" formControlName="fullName" class="form-control" placeholder="Full Name" [(ngModel)]="user.profile.name">
      </div>
      <div class="form-group">
        <div class="input-group">
          <input formControlName="birthday" class="form-control" placeholder="Birthday (yyyy-mm-dd)" name="dp" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="birthday">
          <button class="input-group-addon" (click)="d.toggle()" type="button">
            <img src="../../assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
          </button>
        </div>
      </div>
      <div class="form-group">
        <input type="text" formControlName="city" class="form-control" placeholder="City" [(ngModel)]="user.profile.city">
      </div>
      <div class="form-group">
        <input type="text" formControlName="education" class="form-control" placeholder="Academic Education" [(ngModel)]="user.profile.academicEducation">
      </div>
      <div class="form-group">
        <input type="text" formControlName="job" class="form-control" placeholder="Job" [(ngModel)]="user.profile.job">
      </div>
      <button type="submit" class="btn btn-primary btn-block">Save</button>
    </form>

    <p *ngIf="error">
      <ngb-alert [type]="'danger'" [dismissible]="false">
        <strong>Warning!</strong> There are required fields not filled in
      </ngb-alert>
    </p>
  </div>
</div>